designs/server/services/Auth.json
[
    {
        "id": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "type": "tab",
        "createdDate": "2024-08-18T11:10:02.741Z",
        "label": "Auth",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "Auth",
        "relativeParentPath": ""
    },
    {
        "id": "sd_HQW7MlXCfXknBjYn",
        "type": "Start",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "check if exist",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "searchObj",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "result",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "checkIfExist",
        "category": "General",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_J7XxI4RmRujgJ3nW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Auth"
    },
    {
        "id": "sd_J7XxI4RmRujgJ3nW",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_PhRLzlckwjzX0TdC",
        "collection": "bh.input.searchObj.collection",
        "options": "bh.option",
        "resultMapping": "bh.local.result",
        "operation": "find",
        "argumentArray": [
            "query",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.input.searchObj.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_J7XxI4RmRujgJ3nW",
        "category": "Storage",
        "x": 145,
        "y": 40,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh.input",
                "value": "searchObj.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh.input",
                "value": "searchObj.query",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_K5Lq4ShjAsVlTnL6",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login",
        "path": "/login",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 45,
        "y": 340,
        "wires": [
            [
                "sd_0amagmwLABZ7tYYB"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Auth",
        "functionName": "sd_K5Lq4ShjAsVlTnL6"
    },
    {
        "id": "sd_0amagmwLABZ7tYYB",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    collection:\"users\",\n    query:{\"email\":bh.input.body.email}\n}",
        "functionName": "sd_0amagmwLABZ7tYYB",
        "category": "Function",
        "x": 125,
        "y": 340,
        "wires": [
            [
                "sd_tKewE2bR8nh8JVXp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_tKewE2bR8nh8JVXp",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
            "type": "tab",
            "createdDate": "2024-08-18T11:10:02.741Z",
            "label": "Auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_HQW7MlXCfXknBjYn",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./Auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_tKewE2bR8nh8JVXp",
        "category": "General",
        "x": 205,
        "y": 340,
        "wires": [
            [
                "sd_5qcKPmS8Ia4Wayao"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_5qcKPmS8Ia4Wayao",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_5qcKPmS8Ia4Wayao",
        "category": "Function",
        "x": 285,
        "y": 340,
        "wires": [
            [
                "sd_1h0mL2FpIeKJzrRT"
            ],
            [
                "sd_YmweFNq5Y8KmEPDX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_YmweFNq5Y8KmEPDX",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const bcrypt = require('bcrypt')\nbh.result = bh.result[0];\nbh.match = await bcrypt.compare(bh.input.body.password, bh.result.password)",
        "functionName": "sd_YmweFNq5Y8KmEPDX",
        "category": "Function",
        "x": 385,
        "y": 380,
        "wires": [
            [
                "sd_441grX9nuZchAI92"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_1h0mL2FpIeKJzrRT",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.message = {\n    message:\"User not found\"\n}",
        "functionName": "sd_1h0mL2FpIeKJzrRT",
        "category": "Function",
        "x": 385,
        "y": 300,
        "wires": [
            [
                "sd_GLaqJCskcCVvIO8J"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_441grX9nuZchAI92",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "match",
        "propertyType": "bh",
        "propertyGv": "bh.match",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_441grX9nuZchAI92",
        "category": "Function",
        "x": 465,
        "y": 380,
        "wires": [
            [
                "sd_sC7lG9D8eBGthwno"
            ],
            [
                "sd_9zncwjaXbsRC9YfF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_9zncwjaXbsRC9YfF",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.message = {\n    message:\"Password Don't match\"\n}",
        "functionName": "sd_9zncwjaXbsRC9YfF",
        "category": "Function",
        "x": 545,
        "y": 420,
        "wires": [
            [
                "sd_GLaqJCskcCVvIO8J"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_sC7lG9D8eBGthwno",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.message ={\n    message:\"Successfully logged in\"\n}",
        "functionName": "sd_sC7lG9D8eBGthwno",
        "category": "Function",
        "x": 545,
        "y": 340,
        "wires": [
            [
                "sd_GLaqJCskcCVvIO8J"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_GLaqJCskcCVvIO8J",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "message",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.message",
            "send": "bh.message"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_GLaqJCskcCVvIO8J",
        "category": "HTTP",
        "x": 665,
        "y": 300,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_uxfZT6tUi5arCx0W",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "start",
        "name": "Forgot password",
        "path": "/forgot-password",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 45,
        "y": 560,
        "wires": [
            [
                "sd_qTk50dG9TrrmireO"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Auth",
        "functionName": "sd_uxfZT6tUi5arCx0W"
    },
    {
        "id": "sd_qTk50dG9TrrmireO",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    collection:\"users\",\n    query:{\"email\":bh.input.body.email}\n}",
        "functionName": "sd_qTk50dG9TrrmireO",
        "category": "Function",
        "x": 125,
        "y": 560,
        "wires": [
            [
                "sd_QlBjtbaMdzxSbarv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_QlBjtbaMdzxSbarv",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
            "type": "tab",
            "createdDate": "2024-08-18T11:10:02.741Z",
            "label": "Auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_HQW7MlXCfXknBjYn",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./Auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_QlBjtbaMdzxSbarv",
        "category": "General",
        "x": 205,
        "y": 560,
        "wires": [
            [
                "sd_HDT4gTptFk2ZgL0P"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_HDT4gTptFk2ZgL0P",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_HDT4gTptFk2ZgL0P",
        "category": "Function",
        "x": 305,
        "y": 560,
        "wires": [
            [
                "sd_dFXWIgPCrVegxSdq"
            ],
            [
                "sd_ISZ5nXeIG9rRkXnw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_ISZ5nXeIG9rRkXnw",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result = {\n    message:\"User doesn't exist\"\n}",
        "functionName": "sd_ISZ5nXeIG9rRkXnw",
        "category": "Function",
        "x": 385,
        "y": 600,
        "wires": [
            [
                "sd_RSgQQDVvpt3nZ4Uz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_dFXWIgPCrVegxSdq",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const crypto = require('crypto');\nbh.result = bh.result[0]\nconst random4Digit = crypto.randomInt(0, 10000);\nlet ran = random4Digit.toString().padStart(4, '0');\n\nbh.otp = ran\n\nbh.payload = {\n    to: bh.input.body.email,\n    subject: 'Here is your OTP',\n    from: 'Dead Or Alive',\n    image:`\n    <p>${ran}</p>\n    <img src=\"https://static.wikia.nocookie.net/logopedia/images/b/b1/Doa.png/revision/latest?cb=20140212160623\" width=\"300px\" height=\"80px\"/>`\n}",
        "functionName": "sd_dFXWIgPCrVegxSdq",
        "category": "Function",
        "x": 385,
        "y": 520,
        "wires": [
            [
                "sd_N7IlzKvdFknHwlai"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_N7IlzKvdFknHwlai",
        "type": "EmailOut",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "emailoutconfig": "sd_iDQBGLLAH9RTJrO8",
        "from": "bh.payload.from",
        "to": "bh.payload.to",
        "cc": "undefined",
        "bcc": "undefined",
        "subject": "bh.payload.subject",
        "body": "bh.payload.body",
        "html": "bh.payload.image",
        "attachment": [],
        "attachmentList": {},
        "switchStates": {
            "attachment": "Map"
        },
        "editableListData": {},
        "routingoptions": "undefined",
        "iCal": "undefined",
        "contentoptions": "undefined",
        "headeroptions": "undefined",
        "securityoptions": "undefined",
        "outputs": 1,
        "resultMapping": "bh.result",
        "functionName": "sd_N7IlzKvdFknHwlai",
        "category": "Messaging",
        "x": 525,
        "y": 520,
        "wires": [
            [
                "sd_RSgQQDVvpt3nZ4Uz"
            ]
        ],
        "__ssdTypeInputs__": {
            "from": {
                "type": "bh",
                "value": "payload.from",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "to": {
                "type": "bh",
                "value": "payload.to",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "cc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "bcc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "subject": {
                "type": "bh",
                "value": "payload.subject",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "body": {
                "type": "bh",
                "value": "payload.body",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "html": {
                "type": "bh",
                "value": "payload.image",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "routingoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "iCal": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "contentoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "headeroptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "securityoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_f2dx46Jf4lQfF0ZZ",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "start",
        "name": "register",
        "path": "/register",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 45,
        "y": 140,
        "wires": [
            [
                "sd_Vi6Ftg5Mf4eaD6DX"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Auth",
        "functionName": "sd_f2dx46Jf4lQfF0ZZ"
    },
    {
        "id": "sd_Vi6Ftg5Mf4eaD6DX",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    collection:\"users\",\n    query:{\"email\": bh.input.body.email}\n}",
        "functionName": "sd_Vi6Ftg5Mf4eaD6DX",
        "category": "Function",
        "x": 125,
        "y": 140,
        "wires": [
            [
                "sd_VOv8wSN8p5pUYWBS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_VOv8wSN8p5pUYWBS",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
            "type": "tab",
            "createdDate": "2024-08-18T11:10:02.741Z",
            "label": "Auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_HQW7MlXCfXknBjYn",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./Auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_VOv8wSN8p5pUYWBS",
        "category": "General",
        "x": 205,
        "y": 140,
        "wires": [
            [
                "sd_GGIZisd7JaLskPTO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_GGIZisd7JaLskPTO",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_GGIZisd7JaLskPTO",
        "category": "Function",
        "x": 285,
        "y": 140,
        "wires": [
            [
                "sd_l3VLNTwiRt0hfYhs"
            ],
            [
                "sd_RzkdQbrlCEU6tOPd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_l3VLNTwiRt0hfYhs",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result = {\n    message:\"User exist\"\n}",
        "functionName": "sd_l3VLNTwiRt0hfYhs",
        "category": "Function",
        "x": 385,
        "y": 100,
        "wires": [
            [
                "sd_NHswfzn47DrTYCyd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_RzkdQbrlCEU6tOPd",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.body = bh.input.body",
        "functionName": "sd_RzkdQbrlCEU6tOPd",
        "category": "Function",
        "x": 385,
        "y": 180,
        "wires": [
            [
                "sd_9Gv4mFF6jdv5uacF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_9Gv4mFF6jdv5uacF",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_PhRLzlckwjzX0TdC",
        "collection": "bh.search.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "insertOne",
        "argumentArray": [
            "document",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_9Gv4mFF6jdv5uacF",
        "category": "Storage",
        "x": 485,
        "y": 180,
        "wires": [
            [
                "sd_NHswfzn47DrTYCyd"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "search.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_NHswfzn47DrTYCyd",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_NHswfzn47DrTYCyd",
        "category": "HTTP",
        "x": 585,
        "y": 100,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_RSgQQDVvpt3nZ4Uz",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_RSgQQDVvpt3nZ4Uz",
        "category": "HTTP",
        "x": 625,
        "y": 600,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_IZuw9UqTTIjShIgn",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "start",
        "name": "Verify code",
        "path": "/verify-code",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 45,
        "y": 700,
        "wires": [
            [
                "sd_DGG4LLEBZeopniH6"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Auth",
        "functionName": "sd_IZuw9UqTTIjShIgn"
    },
    {
        "id": "sd_DGG4LLEBZeopniH6",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"Code\", bh.OTP)",
        "functionName": "sd_DGG4LLEBZeopniH6",
        "category": "Function",
        "x": 140,
        "y": 700,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_3m3gQTAUd4AMGYnt",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.file = bh.input.files.file[0];\nbh.status = 200",
        "functionName": "sd_3m3gQTAUd4AMGYnt",
        "category": "Function",
        "x": 825,
        "y": 120,
        "wires": [
            [
                "sd_nh6kbwx8AvS2WeI3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_nh6kbwx8AvS2WeI3",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_PhRLzlckwjzX0TdC",
        "collection": "\"files\"",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "uploadFile",
        "argumentArray": [
            "filePath",
            "fileName",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.body",
        "newName": "",
        "doc": "",
        "filePath": "bh.file.path",
        "fileName": "bh.file.filename",
        "pipeline": "",
        "functionName": "sd_nh6kbwx8AvS2WeI3",
        "category": "Storage",
        "x": 945,
        "y": 120,
        "wires": [
            [
                "sd_MYteWlyo21ynrEtN"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "files",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "body",
                "constant": false
            },
            "filePath": {
                "type": "bh",
                "value": "file.path",
                "constant": false
            },
            "fileName": {
                "type": "bh",
                "value": "file.filename",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_vhf1KabLfHaM7GrT",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "start",
        "name": "upload",
        "path": "/upload",
        "uploadpath": "\"file\"",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": true,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": {
            "type": "path",
            "fileOptions": [
                {
                    "name": "file",
                    "maxCount": 1
                }
            ],
            "path": "\"file\""
        },
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "fileoptions": [
                {
                    "key": "file",
                    "value": "1",
                    "rowId": "sd_KeHXIfKY3CG5hyfh",
                    "valid": true
                }
            ],
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 705,
        "y": 120,
        "wires": [
            [
                "sd_3m3gQTAUd4AMGYnt"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "file",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Auth",
        "functionName": "sd_vhf1KabLfHaM7GrT"
    },
    {
        "id": "sd_MYteWlyo21ynrEtN",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_MYteWlyo21ynrEtN",
        "category": "HTTP",
        "x": 1065,
        "y": 120,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    }
]
