designs/server/services/Auth.json
[
    {
        "id": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "type": "tab",
        "createdDate": "2024-08-18T11:10:02.741Z",
        "label": "Auth",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "Auth",
        "relativeParentPath": ""
    },
    {
        "id": "sd_HQW7MlXCfXknBjYn",
        "type": "Start",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "check if exist",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "searchObj",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "result",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "checkIfExist",
        "category": "General",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_J7XxI4RmRujgJ3nW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Auth"
    },
    {
        "id": "sd_J7XxI4RmRujgJ3nW",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_PhRLzlckwjzX0TdC",
        "collection": "bh.input.searchObj.collection",
        "options": "bh.option",
        "resultMapping": "bh.local.result",
        "operation": "find",
        "argumentArray": [
            "query",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.input.searchObj.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_J7XxI4RmRujgJ3nW",
        "category": "Storage",
        "x": 145,
        "y": 40,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh.input",
                "value": "searchObj.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh.input",
                "value": "searchObj.query",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_K5Lq4ShjAsVlTnL6",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login",
        "path": "/login",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 45,
        "y": 340,
        "wires": [
            [
                "sd_0amagmwLABZ7tYYB"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Auth",
        "functionName": "sd_K5Lq4ShjAsVlTnL6"
    },
    {
        "id": "sd_0amagmwLABZ7tYYB",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    collection:\"users\",\n    query:{\"email\":bh.input.body.email}\n}",
        "functionName": "sd_0amagmwLABZ7tYYB",
        "category": "Function",
        "x": 125,
        "y": 340,
        "wires": [
            [
                "sd_tKewE2bR8nh8JVXp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_tKewE2bR8nh8JVXp",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
            "type": "tab",
            "createdDate": "2024-08-18T11:10:02.741Z",
            "label": "Auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_HQW7MlXCfXknBjYn",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./Auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_tKewE2bR8nh8JVXp",
        "category": "General",
        "x": 205,
        "y": 340,
        "wires": [
            [
                "sd_5qcKPmS8Ia4Wayao"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_5qcKPmS8Ia4Wayao",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_5qcKPmS8Ia4Wayao",
        "category": "Function",
        "x": 285,
        "y": 340,
        "wires": [
            [
                "sd_1h0mL2FpIeKJzrRT"
            ],
            [
                "sd_YmweFNq5Y8KmEPDX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_YmweFNq5Y8KmEPDX",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result = bh.result[0];",
        "functionName": "sd_YmweFNq5Y8KmEPDX",
        "category": "Function",
        "x": 385,
        "y": 380,
        "wires": [
            [
                "sd_441grX9nuZchAI92"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_1h0mL2FpIeKJzrRT",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result = {\n    message:\"User not found\"\n}",
        "functionName": "sd_1h0mL2FpIeKJzrRT",
        "category": "Function",
        "x": 385,
        "y": 300,
        "wires": [
            [
                "sd_GLaqJCskcCVvIO8J"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_441grX9nuZchAI92",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.password",
        "propertyType": "bh",
        "propertyGv": "bh.result.password",
        "rules": [
            {
                "t": "eq",
                "v": "body.password",
                "vt": "bh.input",
                "gv": "bh.input.body.password"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_441grX9nuZchAI92",
        "category": "Function",
        "x": 465,
        "y": 380,
        "wires": [
            [
                "sd_sC7lG9D8eBGthwno"
            ],
            [
                "sd_9zncwjaXbsRC9YfF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_9zncwjaXbsRC9YfF",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result = {\n    message:\"Password Don't match\"\n}",
        "functionName": "sd_9zncwjaXbsRC9YfF",
        "category": "Function",
        "x": 545,
        "y": 420,
        "wires": [
            [
                "sd_GLaqJCskcCVvIO8J"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_sC7lG9D8eBGthwno",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result = bh.result",
        "functionName": "sd_sC7lG9D8eBGthwno",
        "category": "Function",
        "x": 545,
        "y": 340,
        "wires": [
            [
                "sd_GLaqJCskcCVvIO8J"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_GLaqJCskcCVvIO8J",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_GLaqJCskcCVvIO8J",
        "category": "HTTP",
        "x": 665,
        "y": 300,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_uxfZT6tUi5arCx0W",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "start",
        "name": "Forgot password",
        "path": "/forgot-password",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 45,
        "y": 560,
        "wires": [
            [
                "sd_qTk50dG9TrrmireO"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Auth",
        "functionName": "sd_uxfZT6tUi5arCx0W"
    },
    {
        "id": "sd_qTk50dG9TrrmireO",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    collection:\"users\",\n    query:{\"email\":bh.input.body.email}\n}",
        "functionName": "sd_qTk50dG9TrrmireO",
        "category": "Function",
        "x": 125,
        "y": 560,
        "wires": [
            [
                "sd_QlBjtbaMdzxSbarv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_QlBjtbaMdzxSbarv",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
            "type": "tab",
            "createdDate": "2024-08-18T11:10:02.741Z",
            "label": "Auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_HQW7MlXCfXknBjYn",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./Auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_QlBjtbaMdzxSbarv",
        "category": "General",
        "x": 205,
        "y": 560,
        "wires": [
            [
                "sd_HDT4gTptFk2ZgL0P"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_HDT4gTptFk2ZgL0P",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_HDT4gTptFk2ZgL0P",
        "category": "Function",
        "x": 305,
        "y": 560,
        "wires": [
            [
                "sd_dFXWIgPCrVegxSdq"
            ],
            [
                "sd_ISZ5nXeIG9rRkXnw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_ISZ5nXeIG9rRkXnw",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result = {\n    message:\"User doesn't exist\"\n}",
        "functionName": "sd_ISZ5nXeIG9rRkXnw",
        "category": "Function",
        "x": 385,
        "y": 600,
        "wires": [
            [
                "sd_RSgQQDVvpt3nZ4Uz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_dFXWIgPCrVegxSdq",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const crypto = require('crypto');\nbh.result = bh.result[0]\nconst random4Digit = crypto.randomInt(0, 10000);\nlet ran = random4Digit.toString().padStart(4, '0');\nbh._id = bh.result._id\nbh.otp = ran\n\nbh.payload = {\n    to: bh.input.body.email,\n    subject: 'Here is your OTP',\n    from: 'Dead Or Alive',\n    image:`\n    <p>${ran}</p>\n    <img src=\"https://static.wikia.nocookie.net/logopedia/images/b/b1/Doa.png/revision/latest?cb=20140212160623\" width=\"300px\" height=\"80px\"/>`\n}",
        "functionName": "sd_dFXWIgPCrVegxSdq",
        "category": "Function",
        "x": 385,
        "y": 520,
        "wires": [
            [
                "sd_D7Odq2VQfnJvREpL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_N7IlzKvdFknHwlai",
        "type": "EmailOut",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "emailoutconfig": "sd_iDQBGLLAH9RTJrO8",
        "from": "bh.payload.from",
        "to": "bh.payload.to",
        "cc": "undefined",
        "bcc": "undefined",
        "subject": "bh.payload.subject",
        "body": "bh.payload.body",
        "html": "bh.payload.image",
        "attachment": [],
        "attachmentList": {},
        "switchStates": {
            "attachment": "Map"
        },
        "editableListData": {},
        "routingoptions": "undefined",
        "iCal": "undefined",
        "contentoptions": "undefined",
        "headeroptions": "undefined",
        "securityoptions": "undefined",
        "outputs": 1,
        "resultMapping": "bh.result",
        "functionName": "sd_N7IlzKvdFknHwlai",
        "category": "Messaging",
        "x": 545,
        "y": 520,
        "wires": [
            [
                "sd_Oyf9I3olPQGeRcko"
            ]
        ],
        "__ssdTypeInputs__": {
            "from": {
                "type": "bh",
                "value": "payload.from",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "to": {
                "type": "bh",
                "value": "payload.to",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "cc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "bcc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "subject": {
                "type": "bh",
                "value": "payload.subject",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "body": {
                "type": "bh",
                "value": "payload.body",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "html": {
                "type": "bh",
                "value": "payload.image",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "routingoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "iCal": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "contentoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "headeroptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "securityoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_f2dx46Jf4lQfF0ZZ",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "start",
        "name": "register",
        "path": "/register",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 45,
        "y": 160,
        "wires": [
            [
                "sd_Vi6Ftg5Mf4eaD6DX"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Auth",
        "functionName": "sd_f2dx46Jf4lQfF0ZZ"
    },
    {
        "id": "sd_Vi6Ftg5Mf4eaD6DX",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    collection:\"users\",\n    query:{\"email\": bh.input.body.email}\n}\nbh.input.body['_id'] = (new Date().getTime()).toString()",
        "functionName": "sd_Vi6Ftg5Mf4eaD6DX",
        "category": "Function",
        "x": 125,
        "y": 140,
        "wires": [
            [
                "sd_VOv8wSN8p5pUYWBS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_VOv8wSN8p5pUYWBS",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
            "type": "tab",
            "createdDate": "2024-08-18T11:10:02.741Z",
            "label": "Auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_HQW7MlXCfXknBjYn",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./Auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_VOv8wSN8p5pUYWBS",
        "category": "General",
        "x": 205,
        "y": 140,
        "wires": [
            [
                "sd_GGIZisd7JaLskPTO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_GGIZisd7JaLskPTO",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_GGIZisd7JaLskPTO",
        "category": "Function",
        "x": 285,
        "y": 140,
        "wires": [
            [
                "sd_l3VLNTwiRt0hfYhs"
            ],
            [
                "sd_RzkdQbrlCEU6tOPd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_l3VLNTwiRt0hfYhs",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result = {\n    message:\"User exist\"\n}",
        "functionName": "sd_l3VLNTwiRt0hfYhs",
        "category": "Function",
        "x": 385,
        "y": 100,
        "wires": [
            [
                "sd_NHswfzn47DrTYCyd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_RzkdQbrlCEU6tOPd",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.body = bh.input.body",
        "functionName": "sd_RzkdQbrlCEU6tOPd",
        "category": "Function",
        "x": 385,
        "y": 180,
        "wires": [
            [
                "sd_9Gv4mFF6jdv5uacF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_9Gv4mFF6jdv5uacF",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_PhRLzlckwjzX0TdC",
        "collection": "bh.search.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "insertOne",
        "argumentArray": [
            "document",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_9Gv4mFF6jdv5uacF",
        "category": "Storage",
        "x": 485,
        "y": 180,
        "wires": [
            [
                "sd_NHswfzn47DrTYCyd"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "search.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_NHswfzn47DrTYCyd",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_NHswfzn47DrTYCyd",
        "category": "HTTP",
        "x": 585,
        "y": 100,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_RSgQQDVvpt3nZ4Uz",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_RSgQQDVvpt3nZ4Uz",
        "category": "HTTP",
        "x": 705,
        "y": 600,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_IZuw9UqTTIjShIgn",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "start",
        "name": "Verify code",
        "path": "/verify-code",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 45,
        "y": 700,
        "wires": [
            [
                "sd_7iqbrRi94DLel100"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Auth",
        "functionName": "sd_IZuw9UqTTIjShIgn"
    },
    {
        "id": "sd_DGG4LLEBZeopniH6",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"Code\", bh.numbers)",
        "functionName": "sd_DGG4LLEBZeopniH6",
        "category": "Function",
        "x": 205,
        "y": 700,
        "wires": [
            [
                "sd_a8aRF6GJPMFq5Ah8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_D7Odq2VQfnJvREpL",
        "type": "ServiceVariables",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "client-server",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "ran",
                "typedIpValue": {
                    "type": "bh",
                    "value": "otp"
                }
            }
        ],
        "functionName": "sd_D7Odq2VQfnJvREpL",
        "category": "Function",
        "x": 465,
        "y": 520,
        "wires": [
            [
                "sd_N7IlzKvdFknHwlai"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_7iqbrRi94DLel100",
        "type": "ServiceVariables",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "client-server",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "get",
        "globalVariables": [
            {
                "textIp": "ran",
                "typedIpValue": {
                    "type": "bh",
                    "value": "numbers"
                }
            }
        ],
        "functionName": "sd_7iqbrRi94DLel100",
        "category": "Function",
        "x": 125,
        "y": 700,
        "wires": [
            [
                "sd_DGG4LLEBZeopniH6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_a8aRF6GJPMFq5Ah8",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "numbers",
        "propertyType": "bh",
        "propertyGv": "bh.numbers",
        "rules": [
            {
                "t": "eq",
                "v": "body.otp",
                "vt": "bh.input",
                "gv": "bh.input.body.otp"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_a8aRF6GJPMFq5Ah8",
        "category": "Function",
        "x": 300,
        "y": 700,
        "wires": [
            [
                "sd_r5I0lxAnr4C66KOp"
            ],
            [
                "sd_jYZ9JoRxCABGqSaH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_jYZ9JoRxCABGqSaH",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"OTP dn't match\")\nbh.result = {\n    message:\"wrong OTP\"\n}",
        "functionName": "sd_jYZ9JoRxCABGqSaH",
        "category": "Function",
        "x": 405,
        "y": 760,
        "wires": [
            [
                "sd_SaFaBGimJqBKdRM3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_r5I0lxAnr4C66KOp",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"OTP match\")\nbh.result = {\n    message:\"OTP match\"\n}",
        "functionName": "sd_r5I0lxAnr4C66KOp",
        "category": "Function",
        "x": 405,
        "y": 680,
        "wires": [
            [
                "sd_SaFaBGimJqBKdRM3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_SaFaBGimJqBKdRM3",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_SaFaBGimJqBKdRM3",
        "category": "HTTP",
        "x": 520,
        "y": 700,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_Oyf9I3olPQGeRcko",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result['OTP'] = bh.otp\nbh.result['_id'] = bh._id",
        "functionName": "sd_Oyf9I3olPQGeRcko",
        "category": "Function",
        "x": 625,
        "y": 520,
        "wires": [
            [
                "sd_RSgQQDVvpt3nZ4Uz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_UmxR1hsHZeLKCLOy",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "start",
        "name": "Reset password",
        "path": "/reset-password/:_id",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "put",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 45,
        "y": 860,
        "wires": [
            [
                "sd_Z00H3cmNCcGccaBK"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Auth",
        "functionName": "sd_UmxR1hsHZeLKCLOy"
    },
    {
        "id": "sd_Z00H3cmNCcGccaBK",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const updateData = { ...bh.input.body };\ndelete updateData._id;\nbh.filter = {\"_id\":bh.input.params._id}\nbh.body = {$set: updateData}",
        "functionName": "sd_Z00H3cmNCcGccaBK",
        "category": "Function",
        "x": 125,
        "y": 860,
        "wires": [
            [
                "sd_iMZJWHUSIo0Wev4k"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_iMZJWHUSIo0Wev4k",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_PhRLzlckwjzX0TdC",
        "collection": "\"users\"",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "updateOne",
        "argumentArray": [
            "filter",
            "update",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "bh.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "bh.body",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_iMZJWHUSIo0Wev4k",
        "category": "Storage",
        "x": 205,
        "y": 860,
        "wires": [
            [
                "sd_ytCLx3JUC7a25ZUy"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "users",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "filter": {
                "type": "bh",
                "value": "filter",
                "constant": false
            },
            "update": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_ytCLx3JUC7a25ZUy",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_ytCLx3JUC7a25ZUy",
        "category": "HTTP",
        "x": 305,
        "y": 860,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_Uny7tFUhye8slLhT",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.file = bh.input.files.file[0];\nbh.status = 200",
        "functionName": "sd_Uny7tFUhye8slLhT",
        "category": "Function",
        "x": 125,
        "y": 980,
        "wires": [
            [
                "sd_5u8G7H5vbCc0Dpfg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_5u8G7H5vbCc0Dpfg",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_PhRLzlckwjzX0TdC",
        "collection": "\"files\"",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "uploadFile",
        "argumentArray": [
            "filePath",
            "fileName",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.body",
        "newName": "",
        "doc": "",
        "filePath": "bh.file.path",
        "fileName": "bh.file.filename",
        "pipeline": "",
        "functionName": "sd_5u8G7H5vbCc0Dpfg",
        "category": "Storage",
        "x": 205,
        "y": 980,
        "wires": [
            [
                "sd_GsY7hPXdfWag0rXM"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "files",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "body",
                "constant": false
            },
            "filePath": {
                "type": "bh",
                "value": "file.path",
                "constant": false
            },
            "fileName": {
                "type": "bh",
                "value": "file.filename",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_5nCrYBLIjU4rIeGR",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "start",
        "name": "upload",
        "path": "/upload",
        "uploadpath": "\"file\"",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": true,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": {
            "type": "path",
            "fileOptions": [
                {
                    "name": "file",
                    "maxCount": 1
                }
            ],
            "path": "\"file\""
        },
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "fileoptions": [
                {
                    "key": "file",
                    "value": "1",
                    "rowId": "sd_KeHXIfKY3CG5hyfh",
                    "valid": true
                }
            ],
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 45,
        "y": 980,
        "wires": [
            [
                "sd_Uny7tFUhye8slLhT"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "file",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Auth",
        "functionName": "sd_5nCrYBLIjU4rIeGR"
    },
    {
        "id": "sd_GsY7hPXdfWag0rXM",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_GsY7hPXdfWag0rXM",
        "category": "HTTP",
        "x": 305,
        "y": 980,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_tdT1EMSloGiBqliF",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "start",
        "name": "get users",
        "path": "/get-users",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 60,
        "y": 980,
        "wires": [
            [
                "sd_9pvx0JI6XnwgF8JW"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Auth",
        "functionName": "sd_tdT1EMSloGiBqliF"
    },
    {
        "id": "sd_9pvx0JI6XnwgF8JW",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.collection = \"users\"",
        "functionName": "sd_9pvx0JI6XnwgF8JW",
        "category": "Function",
        "x": 140,
        "y": 980,
        "wires": [
            [
                "sd_3bZ0dL716E4LAo89"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_3bZ0dL716E4LAo89",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_PhRLzlckwjzX0TdC",
        "collection": "bh.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "find",
        "argumentArray": [
            "query",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.query",
        "fieldOrSpec": "",
        "filter": "bh.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "bh.body",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_3bZ0dL716E4LAo89",
        "category": "Storage",
        "x": 225,
        "y": 980,
        "wires": [
            [
                "sd_IZKI57INX67m4XpQ"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "query",
                "constant": false
            },
            "filter": {
                "type": "bh",
                "value": "filter",
                "constant": false
            },
            "update": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    },
    {
        "id": "sd_IZKI57INX67m4XpQ",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_IZKI57INX67m4XpQ",
        "category": "HTTP",
        "x": 305,
        "y": 980,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Auth",
        "generated": true
    }
]
